{{ define "main" }}
<div id="body">
{{ $profilePicture := resources.Get (printf "images/DevonTingley.png") }}
{{ $profilePicture := $profilePicture.Resize "640x" }}
{{ with $profilePicture }}
<img src="{{ .Permalink }}" alt="{{ .Title }} Book Cover" width="320px"/>
{{ end }}

    <h1>About Me</h1>

    <div>
        {{ .Content }}
    </div>
</div>
{{ end }}

{{ define "style" }}
<style>
    #body {
        width: 85%;
        max-width: 600px;

        margin-top: 132px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 320px;
    }
</style>
{{ end }}
