{{ define "main" }}
<div id="body">
    <h1>License</h1>
    All books and other media produced by me and published by Twilit Ltd. fall under the <a style="text-decoration: underline;" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license.

    <h1>Why?</h1>
    Why not?  Support me on <a href="https://www.patreon.com/devontingley">Patreon</a> if you like my work.  The monthly recurring revenue far outweighs a couple sales lost because you downloaded a PDF or ePub.

    <h1>So...why is Amazon Not Free?</h1>
    Convenience and commitment.  While everything is free on the website, buying on Amazon allows you to support me while also getting the convenience of being able to use a kindle.  Want it for free?  <a style="text-decoration: underline;" href="https://www.sendepubtokindle.com/">Here you go.</a>
</div>
{{ end }}

{{ define "style" }}
<style> #body {
        width: 85%;
        max-width: 600px;

        margin-top: 132px;
    }
</style>
{{ end }}
