{{ define "main" }}
<div id="body">
    {{ range where .Site.RegularPages "Type" "books" }}
    <a href="{{ .Permalink }}" class="book" style="text-decoration: none;">
        {{ partial "cover-art.html" . }}
        <h3>{{ .Title }}</h3>
        {{ if gt .Date now }}
        <i>Releases {{ .Date.Format "January 02, 2006"}}</i>
        {{ end }}
    </a>
    {{ end }}
</div>
{{ end }}

{{ define "style" }}
<style>
    #body {
        width: 95%;
        max-width: 1136px;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .book {
        height: fit-content;
        width: 220px;

        margin: 32px;
        padding: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    .book-cover {
        text-align: center;
        height: 340px;
        width: 220px;
    }
</style>
{{ end }}
