<div id="body">
    <img src="https://cdn.vorona.gg/DevonTingley.png">

    <h1>About Me</h1>

    <p>
        Hey there, my name's Devon.
        <br/><br/>
        Tldr; I'm a software developer and author who enjoys writing psychological horror stories masquerading as fantasy.
        <br/><br/>
        Long story long, when I was a kid, I loved coming up with my own stories about existing franchises and characters (aka, Pokemon fanfics).  They were atrocious, but they were mine.  Sadly, like basically everyone else, I started hating books around middle school and stopped reading entirely by the time high school rolled around.  Some of the books, such as Brave New World and 1984, looked really interesting to me, but I couldn't bring myself to read them.  They weren't fun; they were work.
        <br/><br/>
        Even though I hated reading, I still loved walking around book stores for some reason.  Eventually, I stumbled upon the Demon King by Cinda Williams Chima, and my edgy ass decided to pick it up.  After a few weeks of procrastination, I read it and burned through all 506 pages by the end of the week.  This, combined with a lot of other books from Morgan Rhodes and Helen Scheurer, revived my love of books and stories.  This compounded with my love of anime and drew me towards light novels and manga.  Sure, some of them are absolute trash with stories so generic that you get deja vu multiple times per book, but the good ones are shockingly good.  Rascal Does Not Dream and Mushoku Tensei have complex, broken characters that are forced to deal with past trauma or their own fatal flaws to become better people.  They're no Stormlight Archives, sure, but they're still compelling stories.  Ones that really affected how and why I write.
        <br/><br/>
        When Covid started, I fell into a deep depression from my inability to do my schoolwork (turns out I have ADHD, whoops).  After months of doing nothing except watching YouTube, I sat down and just started writing.  Seven weeks later, I had a full 55k word book.  Was it bad?  Absolutely.  Was it a full, complete draft?  Absolutely!  The next few projects turned out to be subpar as well, but they were experience.  This culminated in my first book:  <i>Death of the Azure Witch</i>.  My first finished book.
        <br/><br/>
        The current projects I'm working on are extensions to the world I wrote back during the beginning of Covid-19.  Azure Witch is one of the first, chronologically, and the rest are set very far in the future.  I hope to write and release a short story a month to keep my skill and motivation up, but the goal is to release at least a book a year.  <i>Death of the Azure Witch</i> is the first of hopefully many.
    </p>
</div>
