<div id="body">
    <img
        src="{{image_url}}"
        alt="{{title}} Book Cover"
        height="340px"
        width="220px"
    />

    <h1>{{title}}</h1>
    <i id="release-date">
        {{#is_released}}Released{{/is_released}}
        {{^is_released}}Releases on{{/is_released}}
        {{release_date}}
    </i>

    {{#is_released}}
    <div id="download" >
        <a href="https://cdn.vorona.gg/books/{{slug}}.pdf" download/>
            <button>
                <img src="https://cdn.vorona.gg/icons/technology/download-cloud-line.svg"/>
                PDF
            </button>
        </a>

        <a href="https://cdn.vorona.gg/books/{{slug}}.epub" download/>
            <button>
                <img src="https://cdn.vorona.gg/icons/technology/download-cloud-line.svg"/>
                ePub
            </button>
        </a>
    </div>
    {{/is_released}}
    <div id="description">
        {{{description}}}
    </div>
</div>
